import type { Config } from "tailwindcss";

const config: Config = {
  content: [
    "./src/pages/**/*.{js,ts,jsx,tsx,mdx}",
    "./src/components/**/*.{js,ts,jsx,tsx,mdx}",
    "./src/app/**/*.{js,ts,jsx,tsx,mdx}",
  ],
  theme: {
    extend: {
      colors: {
        background: {
          main: "#FFF",
          second: "#F0F2F5",
        },
        txt: {
          back: "#050505",
          hoverback: "#65676B",
          white: "#FFF",
          hoverwhite: "#E4E6EB",
        },
        btn: {
          main: "#F0F2F5",
          second: "#65676B",
          alert: "#EA0000",
          Waiting: "#FFB200",
          succeed: "#00AA39",
        },
      },
    },
    fontFamily: {
      SU: ["system-ui"],
      Angsana: ["Angsana New"],
      TH2: ["regular"],
      TH3: ["Segoe UI"],
      ThaiSans: ["serif"],
      anuphan: ["Anuphan", "sans-serif"],
      IBM: ["IBM Plex Sans Thai", "sans-serif"],
    },
  },
  plugins: [],
};
export default config;
